.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}

.Modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20%;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 5px;
}

.Modal span {
  color: rgb(255, 99, 71)
}

.Modal:focus {
  outline: none;
}

#nprogress .bar {
  background: tomato !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px tomato !important;
}
#nprogress .spinner-icon {
    border-top-color: tomato !important;
    border-left-color: tomato !important;
}
